@import "../../../styles/variables";
@import "../../../styles/mixins";

.services__container {
  @include flex-center(column, 50px);
  margin-top: 70px;
}

.title__services {
  p {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
}

.cards__wrapper {
  @include flex-center($gap: 130px);
  flex-wrap: wrap;
}

.card {
  width: 300px;
  @include flex-center(column, 17px);
  margin: 0 auto;
  background-color: $bg-light;
  border-radius: 7px;
  text-align: center;
  padding: 20px; 

  p {
    line-height: 23px;
    margin: 0;
  }
}