@mixin flex-center($dir: row, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
    gap: $gap;
  }
  
  @mixin btn-outline($color: $blue-main) {
    padding: 12px 35px;
    border: 1px solid $color;
    background: transparent;
    color: $color;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: $tr-300;
    
    &:hover {
      background: $color;
      color: white;
    }
  }
  
  @mixin tablet {
    @media (max-width: 1024px) { @content; }
  }
  
  @mixin mobile {
    @media (max-width: 768px) { @content; }
  }