$blue-main: #3675D9;
$blue-light: rgba(54, 117, 217, 0.1);
$green-accent: #00BA85;
$yellow-accent: #ffc107;
$white: #ffffff;
$black: #1a1a1a;
$grey-text: #666666;
$grey-border: #dcdcdc;
$bg-light: #E1EAF980;




$tr-300: 0.3s ease;




$max-width: 1200px;