@import "../../../styles/variables";
@import "../../../styles/mixins";

.contain__gift {
  @include flex-center($gap: 77px);
  flex-wrap: wrap;
}

.text__part {
  @include flex-center(column, 30px);
  align-items: flex-start;
  line-height: 22px;
  p{
    max-width: 470px;
  }
}

.qayl1 {
  background-color: $blue-main;
  width: 64px;
  border-radius: 17px;
  text-align: center;
  color: $white;
}

.learn__more--bt {
  padding: 12px 35px;
  border: 1px solid $blue-main;
  background: $white;
  color: $blue-main;
  border-radius: 8px;
  cursor: pointer;
  transition: $tr-300;
  font-weight: 600;

  &:hover {
    background: $blue-main;
    color: $white;
  }
}