@import "../../../styles/variables";
@import "../../../styles/mixins";

.discount__container {
  @include flex-center($gap: 74px);
  flex-wrap: wrap;
}

.img__boy {
  max-width: 620px;
  max-height: 572px;
}

.text__contain {
  @include flex-center(column, 30px);
  align-items: flex-start; 
  line-height: 27px;
}


.step__first {
  background-color: $green-accent; 
  @include flex-center;
  width: 60px;
  height: 28px;
  border-radius: 17px;
  text-align: center;
  color: $white;
}

.about__discount {
  max-width: 520px;
  height: 130px;
}

.all__btn {
  margin-top: 30px;
  height: 48px;
  width: 180px;
  color: $blue-main;
  border: solid 1px $blue-main;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  transition: all $tr-300;

  &:hover {
    background-color: #13489d;
    color: $white;
  }
}
.about__discount--container{
  p{
max-width: 470px;
  }
}