@import "../../../styles/variables";
@import "../../../styles/mixins";

.container__card {
  text-align: start;
  @include flex-center($gap: 40px);
  flex-wrap: wrap;
  padding: 7px;

  .firstGirl {
    width: 100%;
  }

  .pause {
    cursor: pointer;
  }
}

.text__container--hdr {
  h1{
  max-width: 300px;
  }
  p{
    max-width: 400px;
  }
}

.button__header {
  display: flex;

  button {
    width: 170px;
    height: 52px;
    cursor: pointer;
    background-color: $blue-main; 
    border-radius: 7px;
    border: none;
    color: $white; 
    letter-spacing: 2px;
  }
}

.img__contain {
  max-width: 500px;
}